<%-include("./__blocks/__header.ejs") %>

      <main class="page-content">
        <!-- <section class="company-advantages page-section">
          <div class="company-advantages-container container">
            <div class="company__advantage">
              <img
                src="./img/advantage1.png"
                alt="Индивидуальный подход"
                title="Индивидуальный подход"
              />
              <span>Индивидуальный подход</span>
            </div>
            <div class="company__advantage">
              <img
                src="./img/advanatge2.png"
                alt="Индивидуальный подход"
                title="Индивидуальный подход"
              />
              <span>Собственное производство</span>
            </div>
            <div class="company__advantage">
              <img
                src="./img/advanatge3.png"
                alt="Высокое качество"
                title="Высокое качество"
              />
              <span>Высокое качество</span>
            </div>
            <div class="company__advantage">
              <img
                src="./img/advantage4.svg"
                alt="Демократичные цены"
                title="Демократичные цены"
              />
              <span>Демократичные цены</span>
            </div>
          </div>

        </section> -->

        <section class="wood page-section">
          
          <div class="wood-container container">
            <div class="wood__img">
              <img
              src="./img/drova-test.png"
              alt="Дрова"
              />
              <div class="wood-shadow"></div>
            </div>
            
            <div class="wood-description-container text-container">
              <h2 class="section-title">Колотые дрова</h2>
              <p class="wood__description"><%= content.wood_desc %></p>
              <a class="buy-wood__button" href="/catalog" role="button">
                В каталог
              </a>
            
          </div>
        </section>

        <section class="wood-products page-section">
          <div class="section-scew wood-products-top-scew">
            
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:svg="http://www.w3.org/2000/svg"
              width="100%"
              height="100%"
              preserveAspectRatio="xMinYMin slice"
              viewBox="0 0 210 21.65"
              version="1.1"
            >
              <!-- <path style="fill: var(--primary-color)" stroke-width="0.223733" d="M 0,0 V 120 L 210,-0.012362"/> -->
              <path style="fill: var(--primary-color)" stroke-width="0.223733" d="M 0,0 V 10 L 210,-0.012362"/>
            </svg>

           
          </div>
        
          
          <div class="wood-products-container container">
            <div class="wood-product-description-container text-container">
              <h2 class="section-title">Древесные изделия</h2>
              <p class="wood-product__description"><%= content.wood_product_desc %></p>
              <a class="buy-wood-product__button" href="/catalog" role="button">
                В каталог
              </a>
            </div>

            <div class="wood-products-slider">
              <div class="slider-images">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="slider">
                  
                  <div class="swiper-wrapper">
                      
                      <div class="swiper-slide">
                        <!-- <div class="slider__img"> -->
                          <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                        <!-- </div> -->
                        
                      </div>
                      <div class="swiper-slide">
                        <div class="slider__img">
                          <img
                          class="wood-product__img"
                          src="./img/wood-product1.jpg"
                          alt="Дрова"
                          title="Дрова"
                        />
                        </div>
                        
                      </div>
                      <div class="swiper-slide">
                        <div class="slider__img">
                          <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                        </div>
                       
                      </div>
                      <div class="swiper-slide">
                        <div class="slider__img">
                          <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                        </div>
                        
                      </div>
                      <div class="swiper-slide">
                        <div class="slider__img">
                          <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                        </div>
                        
                      </div>
                  </div>

                  
                </div>
              </div>
              
              <div class="slider-thumbs">
                <div class="slider">
                  <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">
                      <div class="slider__img">
                        <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                      </div>
                      
                    </div>
                    <div class="swiper-slide">
                      <div class="slider__img">
                        <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                      </div>
                      
                    </div>
                    <div class="swiper-slide">
                      <div class="slider__img">
                        <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                      </div>
                      
                    </div>
                    <div class="swiper-slide">
                      <div class="slider__img">
                        <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                      </div>
                      
                    </div>
                    <div class="swiper-slide">
                      <div class="slider__img">
                        <img
                        class="wood-product__img"
                        src="./img/wood-product1.jpg"
                        alt="Дрова"
                        title="Дрова"
                      />
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

            </div>

            

            <!-- <img
              class="wood-product__img"
              src="./img/wood-product1.jpg"
              alt="Дрова"
              title="Дрова"
            /> -->
            
          </div>

          <div class="wood-product-right-scew">
            <svg  xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 96" version="1.1"  preserveAspectRatio="xMinYMax slice">
              <path style="fill:rgb(184, 177, 79)" d="M 100.35484,0 V 96.870966 H 0 L 35.48387,0 h 64.87097"/>
            </svg>
          </div>

          <!-- <div class="wood-product-right-scew">
            <svg  xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 96" version="1.1"  preserveAspectRatio="none">
              <path style="fill:rgb(184, 177, 79)" d="M 100.35484,0 V 96.870966 H 0 L 35.48387,0 h 64.87097"/>
            </svg>
          </div> -->
        </section>

        <section class="about-order page-section">
          <h2 class="section-title">Доставка и оплата</h2>
          <div class="about-order-container container">
            <div class="order-type-select">
              <div class="order__type">
                <span>Физ<br>лицам</span>
              </div>
              <div class="order__type">
                <span>Юр<br>лицам</span>
              </div>
            </div>

            <div class="order-description-container">
              <p>1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ad dolores veniam facere minus quos, dignissimos quis maiores, neque labore eaque consectetur? Quaerat facere illum explicabo non sed fugit temporibus?</p>
              <p>2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ad dolores veniam facere minus quos, dignissimos quis maiores, neque labore eaque consectetur? Quaerat facere illum explicabo non sed fugit temporibus?</p>
              <p>3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ad dolores veniam facere minus quos, dignissimos quis maiores, neque labore eaque consectetur? Quaerat facere illum explicabo non sed fugit temporibus?</p>
            </div>
          </div>
        </section>

        <!-- 5 секций -->
        <section class="cargo-transportation page-section">
          <div class="cargo-transportation-container container">
            
            <div class="cargo-transportation-img">
              <img src="./img/cargo-transportation-img.jpg" alt="картинка">
            </div>
            <div class="cargo-transportation-description">
              <h2 class="section-title">Грузоперевозки</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero sint nostrum corrupti nulla ullam dolor consequuntur, mollitia deleniti vel veniam harum eius aliquam natus perspiciatis expedita dolorem? Voluptate, excepturi deserunt!
              Debitis natus architecto, optio quo, assumenda eos aperiam repellendus doloremque laborum aspernatur eum culpa ratione exercitationem eius iure. Aliquam quae beatae vel officiis, alias praesentium distinctio ea rem delectus harum!
              </p>
            </div>
          </div>
        </section>

        <section class="tree-clearing page-section">
          <div class="tree-clearing-container container">
            <h2 class="section-title">Расчистка древесных насаждений</h2>
            
          </div>
        </section>

        <section class="about-company page-section">
          <div class="about-company-container container">
            <h2 class="section-title">О компании</h2>
            <p class="about-company__company-description"><%= content.company_desc %></p>
          </div>
        </section>


        <%-include("./__blocks/__cart.ejs")  %>
      
        <!-- <a class="sroll-top-button" href="#body"></a> -->
      </main>

<%-include("./__blocks/__footer.ejs") %>